# DATA WAREHOUSING

**What is a Data Warehouse**
- A data warehouse is a centralized system that collects and stores large amounts of historical data from various sources, such as sales, marketing, and finance systems, to support business intelligence, reporting, and analytics. 
- It serves as a single source of truth for an organization, providing a unified and consistent view of data over time to help business users make informed decisions. 
- Data warehouses differ from operational databases, which support daily operations, by being optimized for analytical queries and long-range historical analysis.  

**Key characteristics:**

- **Centralized Repository**: It consolidates data from multiple sources into one location. 
- **Integrated Data**: Data is cleaned, transformed, and standardized into a consistent format for easier analysis. 
- **Historical Data**: It stores vast amounts of past data, allowing for trend analysis and long-term insights. 
- **Non-Volatile**: Data in a data warehouse is typically not updated or deleted once stored, preserving historical context. 
- **Subject-Oriented**: It focuses on specific business subjects, like sales or customer behavior, rather than daily transactions. 

**Purpose and Use:**

- **Business Intelligence (BI)**: Data warehouses are a foundational component of BI, providing the data for dashboards, reports, and analytics tools. 
- **Informed Decision-Making**: By providing a comprehensive, integrated view of historical and current data, they help businesses understand performance, identify trends, and make smarter decisions. 
- **Data Mining and Analytics**: It provides a rich dataset for data scientists and analysts to perform data mining, data visualization, and advanced analytics. 

**How it works (ETL):**

- **Extract**: Data is extracted from various source systems (e.g., databases, applications, CRM systems). 
- **Transform**: The extracted data is cleaned, standardized, and formatted into a common structure. 
- **Load**: The transformed data is then loaded into the data warehouse for analysis. 

In essence, a data warehouse acts as a strategic data hub, transforming raw operational data into actionable insights that drive business growth and competitive advantage.

**Key concepts related to data warehousing:**

- ``Data mart:`` A smaller subset of a data warehouse focused on a specific area of interest, like sales or marketing, providing a more targeted view for analysis. 

- ``Operational database vs. Data warehouse:``
1. Operational database: Designed for day-to-day transactions, storing current data needed for running the business operations, such as customer orders or inventory levels. 
2. Data warehouse: Stores historical data from multiple operational databases and other sources, optimized for querying and analysis rather than real-time transactions. 
- ``OLAP (Online Analytical Processing) vs. OLTP (Online Transaction Processing):``
1. OLAP: Used for analytical tasks, querying large datasets with complex calculations to identify trends and patterns. 
2. OLTP: Used for day-to-day transactions, focusing on fast and efficient data retrieval and updates for operational needs. 
- ``Fields of application for data warehousing:``
1. Marketing analysis: Analyzing customer behavior, campaign performance, and product trends to optimize marketing strategies. 
2. Financial analysis: Identifying trends, forecasting, and budgeting based on historical financial data. 
3. Supply chain management: Analyzing inventory levels, supplier performance, and logistics to optimize supply chain efficiency. 
4. Customer relationship management (CRM): Analyzing customer interactions and feedback to improve customer satisfaction and retention.

- Data warehouse features define how these systems support management decisions. Subject-oriented data is organized around key business areas like sales or customers, rather than operational processes. 
- Integrated data combines information from various sources, resolving inconsistencies to create a unified view. 
- Time-variant data retains historical information over long periods to enable trend analysis. 
- Finally, non-volatile data is read-only once loaded, meaning it is not changed or deleted by operational transactions.

**Subject-Oriented**

Focus: Organizes data around major business subjects, such as customers, products, or sales, rather than day-to-day transactions. 
Benefit: Allows for comprehensive analysis and strategic decision-making related to specific business domains. 

**Integrated**

Process: Data from disparate operational systems is extracted, transformed, and loaded into a consistent format. 
Benefit: Resolves naming conflicts, inconsistent data types, and differing units of measure, providing a unified and reliable dataset. 

**Time-Variant**

Data Type: Retains historical data, often for months, years, or longer, unlike operational systems that typically focus on current data. 
Benefit: Enables trend analysis, historical comparisons, and tracking of business performance over time. 

**Non-Volatile**

Characteristic: Once data is entered into the data warehouse, it is not updated or deleted by day-to-day operational transactions. 
Benefit: Ensures the stability and consistency of historical data for analysis, as it remains a fixed record of past events.

## Data WareHouse Architecture
- A data warehouse architecture encompasses several layers designed to extract, transform, load, and present data for analytical purposes. The layers you listed represent a comprehensive view of this architecture:

**Source System:** This layer consists of the operational databases and various other data sources (e.g., CRM, ERP, flat files, external APIs) where raw transactional and historical data originates.

**Source Data Transport Layer**: This layer is responsible for the extraction and movement of data from the source systems to the staging area or directly to the data warehouse. This often involves technologies like ETL (Extract, Transform, Load) or ELT (Extract, Load, Transform) tools, data streaming platforms, or change data capture (CDC) mechanisms.

**Data Quality Control and Data Profiling Layer**: Before data is integrated into the warehouse, this layer focuses on ensuring its accuracy, completeness, consistency, and validity. Data profiling helps understand the characteristics and quality issues of the source data, while data quality control processes cleanse, standardize, and validate the data to meet predefined quality rules.

**Metadata Management Layer**: This layer manages "data about data." It stores information about the data sources, transformations, data models, data lineage, business definitions, and data quality rules. Metadata is crucial for understanding the data, ensuring data governance, and facilitating data discovery for end-users.

**Data Integration Layer**: This layer is where data from various sources is combined, transformed, and integrated into a unified format and structure suitable for analytical querying. This often involves applying business rules, resolving inconsistencies, and structuring the data into a dimensional model (e.g., star or snowflake schema) within the data warehouse.

**Data Processing Layer**: This layer refers to the core data warehouse engine where the integrated data is stored and optimized for analytical queries. It handles data storage, indexing, and query execution, often utilizing technologies like relational database management systems (RDBMS) or specialized analytical databases.

**End User Reporting Layer:** This is the presentation layer where business users interact with the data warehouse to generate reports, perform ad-hoc queries, and conduct data analysis. This layer typically includes business intelligence (BI) tools, reporting dashboards, and data visualization applications that provide insights from the processed data.

## ETL Techniques
- ETL (Extract, Transform, Load) is a data integration technique that involves Extracting data from various sources, Transforming it into a usable format by cleansing and structuring it, and then Loading it into a target system, like a data warehouse. 
- Key ETL techniques include ``batch processing``, for periodic data transfers; ``incremental ETL`` using change data capture to only process new or changed data; ``data cleansing`` to ensure accuracy; and ``data profiling`` to understand data quality before processing.  

**Key ETL Techniques**

1. **Extraction**: 
This involves pulling raw data from different sources, such as CRMs, ERPs, or flat files. 
- ``Full Extraction``: Retrieves all the data from the source system at once. 
- ``Incremental Extraction (Change Data Capture)``: Uses time or date-based tools to identify and extract only the data that has changed since the last extraction. 
- ``API Extraction``: Utilizes Application Programming Interfaces to communicate with software and operating systems to extract data. 
2. **Transformation**: 
Here, the extracted data is manipulated, cleaned, and standardized. 
- ``Data Cleansing``: Corrects errors, removes duplicates, and standardizes data formats to improve quality. 
- ``Data Derivation``: Creates new data fields by applying business rules or calculations to existing data. 
- ``Data Aggregation``: Summarizes data into a more concise form by grouping and combining related records. 
- ``Data Integration``: Merges data from different sources into a single, unified dataset. 
- ``Data Filtering``: Selects only the relevant data based on specific criteria for the target system. 
3. **Loading**: 
This is the process of storing the transformed data into a target destination, typically a data warehouse or data lake. 
- ``Full Load``: Writes the entire dataset into the target system. 
- ``Incremental Load``: Updates or adds new data to the existing target system based on changes in the source data. 

**Common Approaches & Considerations**

1. ``Staging Area``: A temporary, intermediate storage location for extracted data before it is transformed and loaded. 
2. ``Batch ET``L: Processes large volumes of data in batches at scheduled intervals. 
3. ``ETL Tools``: Software like Informatica, Talend, and Microsoft SSIS provides user-friendly interfaces and connectors to facilitate the ETL process. 
4. ``ETL vs. ELT``: A contrasting approach where data is first loaded into the target system and then transformed within the data storage solution, especially common with cloud data lakes and unstructured data.

## Project setup
This project uses:
- ``PostgreSQL``: Lightweight server for hosting your SQL database.

To setup up your system:
1. Download and install PostgreSQL from this [link](https://www.enterprisedb.com/downloads/postgres-postgresql-downloads)

## Building the Data Warehouse
The aim is to develop a modern data warehouse using PostgreSQL Server to consolidate sales data, enabling analytical reporting.

- **Data Sources**: Import data from two source systems (ERP and CRM) provided as CSV files.
- **Data Quality**: Cleanse and resolve data quality issues before analysis.
- **Integration**: Combine both sources into a user-friendly data model for analytical queries.
- **Scope**: Focus on the latest dataset only; historization of data is not required.
- **Documentation**: Provide clear data model documentation to support both business stakeholders and analytics teams.

There are four different approaches to building a data warehouse:
1. InMon
2. Kimball
3. Data Vault
4. Medallion

**The Medallion architerture**
A medallion architecture serves as a data design blueprint tailored for organizing data within a lake house environment. Its primary aim is to enhance the structure and quality of data gradually as it traverses through successive layers of the architecture, progressing from Bronze to Silver to Gold layers.

1. **Bronze layer**
The Bronze layer serves as the initial landing ground for all data originating from external source systems. Datasets within this layer mirror the structures of the source system tables in their original state, supplemented by extra metadata columns such as load date/time and process ID. The primary emphasis here is on Change Data Capture, enabling historical archiving of the source data, maintaining data lineage, facilitating audit trails, and allowing for reprocessing if necessary without requiring a fresh read from the source system.

2. **Silver layer**
The next layer of the warehouse is the Silver layer. Within this layer, data from the Bronze layer undergoes a series of operations to a “just-enough” state (which will be discussed in detail later). This prepares the data in the Silver layer to offer an encompassing “enterprise view” comprising essential business entities, concepts, and transactions.

3. **Gold layer**
The last layer of the warehouse is the Gold layer. Data within the Gold layer is typically structured into subject area specific databases, primed for consumption. This layer is dedicated to reporting and employs denormalized, read-optimized data models with minimal joins. It serves as the ultimate stage for applying data transformations and quality rules. Commonly, you will observe the integration of Kimball-style star schema based data marts within the Gold Layer of the warehouse.

![Alt text](images/medallion.png "Optional Title")

## Data Warehouse Structure

![Alt text](images/warehouse.png "Optional Title")

#### Create the Database, the database schema and the database user
- Make sure PostgreSQL is installed in your computer. (Take note of the default username ``postgres`` and the ``password`` set during the installation)
- Also ensure the ``psql`` utility is added to the windows path
- To create the database and schemas run the following command:
```
psql -U postgres -d postgress Data-WareHousing\scripts\init_db.sql
```
- This will create the database and the schemas

#### Addind data to the database
- Create the bronze tables:
```
psql -U postgres -f scripts/bronze/ddl.sql
```
- To add data to the database:
1. Connect to the database
```psql -U postgres -d datawarehouse```
2. Copy and paste each command in the ``add_data.txt`` file in the ``scripts`` folder and press ``Enter`` after each line i.e
- ```\copy bronze.crm_cust_info FROM 'datasets\source_crm\cust_info.csv' WITH (FORMAT CSV, DELIMITER ',', HEADER);```
- ``\copy bronze.crm_cust_info FROM 'datasets\source_crm\cust_info.csv' WITH (FORMAT CSV, DELIMITER ',', HEADER);``
- ``\copy bronze.crm_prd_info FROM 'datasets\source_crm\prd_info.csv' WITH (FORMAT CSV, DELIMITER ',', HEADER);``
- ``\copy bronze.crm_sales_details FROM 'datasets\source_crm\sales_details.csv' WITH (FORMAT CSV, DELIMITER ',', HEADER);``
- ``\copy bronze.erp_cust_az12 FROM 'datasets\source_erp\CUST_AZ12.csv' WITH (FORMAT CSV, DELIMITER ',', HEADER);``
- ``\copy bronze.erp_loc_a101 FROM 'datasets\source_erp\LOC_A101.csv' WITH (FORMAT CSV, DELIMITER ',', HEADER);``
- ``\copy bronze.erp_px_cat_g1v2 FROM 'datasets\source_erp\PX_CAT_G1V2.csv' WITH (FORMAT CSV, DELIMITER ',', HEADER)``;
3. Make sure to enter the correct path to the datasets

- At this point, the bronze layer of the datawarehouse is built.

#### Data Flow Bronze layer
![](images/bronze.PNG)

#### ABout the tables
- Use the queries in the ``bronze/bronze_overview.sql`` to understand the tables
1. Sales table

![](images/sales-bronze.PNG)

2. Customer table

![](images/cust-info-bronze.PNG)

3. Product table

![](images/prod-info-bronze.PNG)

4. Customer birthdays and gender

![](images/cust-bday-gender-bronze.PNG)

5. Customer location

![](images/cust-loc.PNG)

6. Product details

![](images/prod-details-bronze.PNG)

## Silver Layer
In the silver layer, we need to transform the data after identifying the quality problems in the data and then coding the transformation script.

![](images/silver.PNG)

### Exploring & Understanding the data
- We need to understand each table in the bronze layer one by one and check the connection between them (how to join them). 
- By executing a select statement per table. For example:
```
SELECT * FROM table_name LIMIT 10;
```
- For sales details:
```
SELECT * FROM bronze.crm_sales_details LIMIT 10;
```
- Use the queries in the ``scripts/bronze/table_structure.sql``
- Here is the relationship:
![](images/intergration.PNG)

## Creating DDL for Tables in the Silver Layer
- The objective of the silver layer is to have clean and standardized data. 
- With a full load (truncate & insert) from the bronze layer to the silver layer.

**Metadata Columns**

- They are extra columns added by the data engineers that do not originate from the source data:

1. ``create_date``: The record’s load timestamp
2. ``update_date``: The records’s last update time stamp
3. ``source_system``: The origin system of the record
4. ``file_location``: The file source of the record

- To create the DDL for the silver layer, we will just copy the same code that we had for the bronze layer and just replace the keyword ‘bronze.’ with ‘silver.’ and additionally, we will add an extra column for the creation data (and give it. a default value).

**Creating the Silver tables**

``` psql -U postgres -f silver/ddl.sql```

#### Data Quality Check
- Before inserting the data in the silver tables or doing any transformations, it is very important to check the quality of the data and detect if there are any issues in the data. 
- If we do not detect the issues, we can not solve them.

**Here are some rule of thumb checks to always make**:

- Check for duplicates or nulls in the primary keys

- Check unwanted space in string values

- Check the consistency in low cardinality columns

- Checking that dates columns are a real date & not a string

#### Check for Duplicates

- The code used in this section are found in the ``cleaning.sql`` and ``transformation.sql`` files in the ``acripts/silver`` folder.
- To check for duplicates and null values
```
SELECT count(*),
cst_id 
FROM bronze.crm_cust_info 
GROUP BY (cst_id) 
HAVING count(cst_id) > 1 or cst_id is NULL;
```
- The output is:

![](images/duplicates.PNG)

- So if we check the screenshot below, I selected the rows with 3 duplicates for the same primary key. The strategy here is to take the latest create_date row with the most up-to-date information.

```
SELECT * FROM bronze.crm_cust_info 
WHERE cst_id = 29466;
```
- The output is:

![](images/29466.PNG)

- To fix this problem, I will use window functions to rank— ``ROW_NUMBER``
```
SELECT *,
ROW_NUMBER() OVER(PARTITION BY cst_id ORDER BY cst_create_date DESC ) as flag_last 
FROM bronze.crm_cust_info
WHERE cst_id = 29466;
```

![](images/first.PNG)

- Then, to remove duplicates, select only the rows with flag_last = 1

```
SELECT *
FROM (
    SELECT *,
    ROW_NUMBER() OVER(PARTITION BY cst_id ORDER BY cst_create_date DESC ) as flag_last 
    FROM bronze.crm_cust_info
    WHERE cst_id = 29466;
)
WHERE flag_last = 1;
```

#### Check Standardization & Consistency
- In low cardinality columns, it is important to check the consistency of the values and deal with Null values according to the conversion in the project. 
- Check the possible values via the DISTINCT() function.

```
SELECT DISTINCT(cst_gndr)
FROM bronze.crm_cust_info;

SELECT DISTINCT(cst_marital_status)
FROM bronze.crm_cust_info;
```

- Then, to make the table more human-readable, I converted the short names to full gender names using the CASE WHEN statement. 
- We do the same with marital status.

#### Checking Dates columns as dates, not strings
- Since we defined in the table definition & schema the data type as the date for the column cst_create_date, we do not have to do anything.

## Inserting data into the silver layer
- After finishing all the transformations, it is time to insert the data into the silver layer

```
INSERT INTO silver.crm_cust_info(
    cst_id,
    cast_key,
    cst_firstname,
    cst_lastname,
    cst_marital_status,
    cst_gndr,
    cst_create_date
)
SELECT 
    cst_id,
    cast_key,
    TRIM(cst_firstname) AS cst_firstname,
    TRIM(cst_lastname) AS cst_lastname,
    CASE WHEN UPPER(TRIM(cst_marital_status)) = 'S' THEN 'Single'
         WHEN UPPER(TRIM(cst_marital_status)) = 'M' THEN 'Married'
         ELSE 'n/a'
    END cst_marital_status,  -- Normmalize maritial status values to readable format 
    CASE WHEN UPPER(TRIM(cst_gndr)) = 'F' THEN 'Female'
         WHEN UPPER(TRIM(cst_gndr)) = 'M' THEN 'Male'
         ELSE 'n/a'
    END cst_gndr, -- Normalize gender values to readable format
    cst_create_date
FROM (
    SELECT *, 
    ROW_NUMBER() OVER(PARTITION BY cst_id ORDER BY cst_create_date DESC) AS flag_last
    FROM bronze.crm_cust_info
) t 
WHERE flag_last = 1 AND cst_id is NOT NULL  -- removed duplicated by selecting most recent record per customer 
```

## Gold Layer
- At this stage, we will create views so we won’t need to use stored procedures. 
- To model the data, joins between tables will be created according to the integration model defined in earlier steps.
- All these transformations are found in the ``scripts/gold`` folder

```
SELECT
ci.cst_id,
ci.cast_key,
ci.cst_firstname,
ci.cst_lastname,
ci.cst_marital_status,
ci.cst_gndr,
ci.cst_create_date,
ca.bdate,
ca.gen,
la.cntry
FROM silver.crm_cust_info ci
LEFT JOIN silver.erp_cust_az12 ca 
ON ci.cast_key = ca.cid 
LEFT JOIN silver.erp_loc_a101 la
ON ci.cast_key = la.cid;
```

- Another important step in the gold layer is to rename the columns to make them user friendly and still following the naming convention agreed on since the start of the project.

#### Dimension Tables
- When joining the tables there comes the important question of deciding whether it is a ``dimension`` or a ``fact`` table.

- A rule of Thumb is when the columns of a table are descriptive, then it is more likely a dimension.

- ``Surrogate Key``: System-generated unique identifier assigned to each record in a table. It is not a business key but it is only used to connect our data model.

- To define a surrogate key, we can use a DDL based generation or a more simpler approach using a query with window function (Row_Number).

```
CREATE VIEW gold.dim_customers AS
SELECT
    ROW_NUMBER() OVER (ORDER BY cst_id) AS customer_key, -- Surrogate key
    ci.cst_id                          AS customer_id,
    ci.cast_key                         AS customer_number,
    ci.cst_firstname                   AS first_name,
    ci.cst_lastname                    AS last_name,
    la.cntry                           AS country,
    ci.cst_marital_status              AS marital_status,
    CASE 
        WHEN ci.cst_gndr != 'n/a' THEN ci.cst_gndr -- CRM is the primary source for gender
        ELSE COALESCE(ca.gen, 'n/a')  			   -- Fallback to ERP data / The COALESCE is used to return the first non-null value from a list.
    END                                AS gender,
    ca.bdate                           AS birthdate,
    ci.cst_create_date                 AS create_date
FROM silver.crm_cust_info ci
LEFT JOIN silver.erp_cust_az12 ca
    ON ci.cast_key = ca.cid
LEFT JOIN silver.erp_loc_a101 la
    ON ci.cast_key = la.cid;
```

## Fact Tables
- To recongnize the fact table, look at the columns and they should be showing transactions and events also there can be dates, etc.

- To create a data model, it is necessary to connect the fact table with the dimension tables via the surrogate keys instead of IDs by doing joins of the silver layer of the fact table and the gold layer tables of the dimensions.

```
CREATE VIEW gold.fact_sales AS
SELECT
    sd.sls_ord_num  AS order_number,
    pr.product_key  AS product_key,
    cu.customer_key AS customer_key,
    sd.sls_order_dt AS order_date,
    sd.sls_ship_dt  AS shipping_date,
    sd.sls_due_dt   AS due_date,
    sd.sls_sales    AS sales_amount,
    sd.sls_quantity AS quantity,
    sd.sls_price    AS price
FROM silver.crm_sales_details sd
LEFT JOIN gold.dim_products pr
    ON sd.sls_prd_key = pr.product_number
LEFT JOIN gold.dim_customers cu
    ON sd.sls_cust_id = cu.customer_id;
```

## Bussiness Intelligence

With the gold layer, we can now use the data warehouse to answer various bussiness questions like:
- Top ten sales by amount
- Top ten customers with the most orders and look at how age, gender and marital status are represented
- Top customers with highest purchases
- Top products bought
- Products that bring in the most money
- Purchase patterns over the years i.e top products bought per year
- Products that experiemced growth/ decline

These queries are found in the ``scripts/gold/gold.sql`` file

In [3]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import date, datetime
import matplotlib.pyplot as plt

In [8]:
#%pip install psycopg2

In [5]:
# Replace with your actual credentials
db_user = "postgres"
db_password = "postgres"
db_host = "localhost"  # or your database host
db_port = "5432"       # default PostgreSQL port
db_name = "datawarehouse"

In [9]:
# Create the connection string
connection_string = f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

In [10]:
# Define your SQL query
products_query = "SELECT * FROM bronze.crm_cust_info;"

# Read data into a pandas DataFrame
products_df = pd.read_sql_query(products_query, engine)

products_df.head()

,cst_id,cast_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000.0,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001.0,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002.0,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003.0,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004.0,AW00011004,Elizabeth,Johnson,S,F,2025-10-06

In [ ]:
# Define your SQL query
customers_query = "SELECT * FROM gold.dim_customers;"

# Read data into a pandas DataFrame
customers_df = pd.read_sql_query(customers_query, engine)

customers_df.head()

In [ ]:
# Define your SQL query
sales_query = "SELECT * FROM gold.fact_sales;"

# Read data into a pandas DataFrame
sales_df = pd.read_sql_query(sales_query, engine)

sales_df.head()

## Data Visualization
- Any visualization tool like tableau or power bi can be used to visualize the data.
- Here python and matplotlib are used

#### Top ten most bought products

In [ ]:
# Define your SQL query
products_query = """
select 
	distinct pa.prd_nm as product,
	pa.prd_line as product_line,
	sa.total_count
from gold.top_products as sa
inner join silver.crm_prd_info pa
on sa.product = pa.prd_key
order by total_count desc;
"""

# Read data into a pandas DataFrame
products_df = pd.read_sql_query(products_query, engine)

products_df.plot.bar(x='product', y='total_count', title='Top Ten Products by Volume')
plt.ylabel('Value') # Add a y-axis label
plt.show()

In [ ]:
# Define your SQL query
products_line_query = """
select 
	product_line,
	sum(total_count) as total
from (
	select 
	distinct pa.prd_nm as product,
	pa.prd_line as product_line,
	sa.total_count
	from gold.top_products as sa
	inner join silver.crm_prd_info pa
	on sa.product = pa.prd_key
	order by total_count desc
)
group by (product_line)
order by total desc;
"""

# Read data into a pandas DataFrame
products_line_df = pd.read_sql_query(products_line_query, engine)

products_line_df.plot.bar(x='product_line', y='total', title='Top Product Lines by Volume')
plt.ylabel('Value') # Add a y-axis label
plt.show()

In [ ]:
# Define your SQL query
products_sales_query = """
select 
	distinct pa.prd_nm as product,
	pa.prd_line as product_line,
	sa.total_count,
	sa.total as sales
from gold.top_revenue_products as sa
inner join silver.crm_prd_info pa
on sa.product = pa.prd_key
order by sales desc;
"""

# Read data into a pandas DataFrame
products_sales_df = pd.read_sql_query(products_sales_query, engine)
products_sales_df.plot.bar(x='product', y='sales', title='Top Product by Sales')
plt.ylabel('Value') # Add a y-axis label
plt.show()

## Online Analytical Processing (OLAP)

- OLAP (Online Analytical Processing) operations are the fundamental techniques used to explore, analyze, and summarize multidimensional data stored in a data warehouse. 
- They allow decision makers to view data from different perspectives for insights. The main OLAP operations are:

1. **Roll-up (Consolidation / Aggregation)**
Summarizes data by climbing up the hierarchy or reducing dimensions.

Example: From daily sales → monthly sales → yearly sales.

Or from city level → country level → continent level.

2. **Drill-down**
Opposite of roll-up. Moves from summarized data to more detailed data.

Example: From yearly sales → monthly sales → daily sales.

Or from region → country → city → store.

3. **Slice**
Selects a single dimension value from a cube, creating a sub-cube.

Example: Looking at sales for 2024 only, across all products and regions.

4. **Dice**
Selects data by specifying multiple dimensions and ranges, forming a smaller cube.

Example: Sales of Product A and B in the first quarter of 2025 across Kenya and Uganda.

5. **Pivot (Rotation**)
Reorients the multidimensional view of data to provide an alternative representation.

Example: Switching rows and columns to view sales by region vs. sales by product.

✅ **Summary Table of OLAP Operations**

| Operation | Purpose | Example |
|---|---|---|
| Roll-up | Summarize / aggregate | Daily → Monthly → Yearly sales |
| Drill-down | Get details	Yearly | Yearly → Monthly → Daily sales |
| Slice | Fix one dimension | Sales in 2024 |
| Dice | Select range of dimensions | Sales of Product A in Q1 2025, Kenya & Uganda |
| Pivot | Reorient view | Change rows/columns from "product vs region" to "region vs product" |

In [ ]:
# Define your SQL query
products_sales_query = """
select 
	sa.sls_ord_num as order_number,
	pa.prd_nm as product_name,
	pa.prd_line as product_category,
	sa.sls_order_dt as order_date,
	sa.sls_quantity as quantity,
	sa.sls_sales as total_amount
from silver.crm_sales_details sa
inner join silver.crm_prd_info pa
on sa.sls_prd_key = pa.prd_key;
"""

# Read data into a pandas DataFrame
products_sales_df = pd.read_sql_query(products_sales_query, engine)
products_sales_df.head()

In [ ]:
def format_date(int_date: int):
    str_date = str(int_date)
    year = str_date[:4]
    month = str_date[4:6]
    day = str_date[6:]
    date_obj = date(int(year), int(month), int(day))
    return date_obj

In [ ]:
products_sales_df['order_date'] = products_sales_df['order_date'].apply(format_date)
products_sales_df.head()

## 1. Roll Up
- Here we are going to see the products that were bougt on:
    - December 29, 2010
    - December of 2010
    - In the year 2010

#### Products bought on ``December 29, 2010``

In [ ]:
products_sales_df[products_sales_df['order_date'] == date(2010, 12, 29)]

In [ ]:
products_sales_df[products_sales_df['order_date'] == date(2010, 12, 29)]['product_name'].unique().tolist()

#### Products bought in ``December 2010``

In [ ]:
products_sales_df[(products_sales_df['order_date'] >= date(2010, 12, 1)) & (products_sales_df['order_date'] <= date(2010, 12, 31))]

In [ ]:
products_sales_df[(products_sales_df['order_date'] >= date(2010, 12, 1)) & (products_sales_df['order_date'] <= date(2010, 12, 31))]['product_name'].unique().tolist()

#### Products bought in ``2010``

In [ ]:
products_sales_df[(products_sales_df['order_date'] >= date(2010, 1, 1)) & (products_sales_df['order_date'] <= date(2010, 12, 31))]

In [ ]:
products_sales_df[(products_sales_df['order_date'] >= date(2010, 1, 1)) & (products_sales_df['order_date'] <= date(2010, 12, 31))]['product_name'].unique().tolist()

## 2. Drill Down
- Here we are going to see the products that were bougt on:
    - In the year 2012
    - January of 2012
    - January 1, 2012

#### Products bought in ``2012``

In [ ]:
products_sales_df[(products_sales_df['order_date'] >= date(2012, 1, 1)) & (products_sales_df['order_date'] <= date(2012, 12, 31))]['product_name'].unique().tolist()

#### Products bought in ``January 2012``

In [ ]:
products_sales_df[(products_sales_df['order_date'] >= date(2012, 1, 1)) & (products_sales_df['order_date'] <= date(2012, 1, 31))]

In [ ]:
products_sales_df[(products_sales_df['order_date'] >= date(2012, 1, 1)) & (products_sales_df['order_date'] <= date(2012, 1, 31))]['product_name'].unique().tolist()

#### Products bought on ``January 1, 2012``

In [ ]:
products_sales_df[(products_sales_df['order_date'] == date(2012, 1, 1))]

In [ ]:
products_sales_df[(products_sales_df['order_date'] == date(2012, 1, 1))]['product_name'].unique().tolist()

## 3. Slice
- Here we are going to see all the sales for all products across all regions in 2013

In [ ]:
# Define your SQL query
products_regions_query = """
select 
	sa.sls_ord_num as order_number,
	pa.prd_nm as product_name,
	pa.prd_line as product_line,
	sa.sls_order_dt as order_date,
	sa.sls_sales as total_sales,
	er.cntry as country
from silver.crm_sales_details sa
inner join silver.crm_prd_info pa
on sa.sls_prd_key = pa.prd_key
inner join silver.crm_cust_info ca
on sa.sls_cust_id = ca.cst_id
inner join silver.erp_loc_a101 er
on ca.cast_key = er.cid
where sls_order_dt >= 20130101 and sls_order_dt <= 20131231
order by (cntry, prd_line, prd_nm);
"""

# Read data into a pandas DataFrame
products_regions_df = pd.read_sql_query(products_regions_query, engine)
products_regions_df['order_date'] = products_regions_df['order_date'].apply(format_date)
products_regions_df.head()

In [ ]:
products_regions_df['country'].unique()

In [ ]:
# For Australia
products_regions_df[products_regions_df['country'] == 'Australia']

In [ ]:
# For Germany
products_regions_df[products_regions_df['country'] == 'Germany']

## 4. Dice
- Here we look at sales of All Purpose Bike Stands and Touring Tire Toube in the first quarter of 2014 across Australia and Germany.

In [ ]:
# Define your SQL query
dice_query = """
select 
	sa.sls_ord_num as order_number,
	pa.prd_nm as product_name,
	pa.prd_line as product_line,
	sa.sls_order_dt as order_date,
	sa.sls_quantity as quamtity,
	sa.sls_sales as total_amount,
	er.cntry as country
from silver.crm_sales_details sa
inner join silver.crm_prd_info pa
on sa.sls_prd_key = pa.prd_key
inner join silver.crm_cust_info ca
on sa.sls_cust_id = ca.cst_id
inner join silver.erp_loc_a101 er
on ca.cast_key = er.cid
where 
sls_order_dt >= 20140101 
and sls_order_dt <= 20140430
and LOWER(prd_nm) in ('all-purpose bike Stand', 'touring tire tube')
and lower(cntry) in ('germany', 'australia')
order by (cntry, prd_line, prd_nm);
"""

# Read data into a pandas DataFrame
dice_df = pd.read_sql_query(dice_query, engine)
dice_df['order_date'] = dice_df['order_date'].apply(format_date)
dice_df.head()

In [ ]:
dice_df.tail()

## 5. Pivot
- We will see the sales by region then pivot to see the sales by product

In [2]:
#### Sales by region

In [ ]:
region_query = """
select 
	er.cntry as country,
	sum(sa.sls_sales) as region_sales
from silver.crm_sales_details sa
inner join silver.crm_prd_info pa
on sa.sls_prd_key = pa.prd_key
inner join silver.crm_cust_info ca
on sa.sls_cust_id = ca.cst_id
inner join silver.erp_loc_a101 er
on ca.cast_key = er.cid
group by cntry
order by region_sales;
"""

# Read data into a pandas DataFrame
region_df = pd.read_sql_query(region_query, engine)
region_df.head()

#### Sales by product

In [ ]:
product_query = """
select 
	pa.prd_nm as product,
	sum(sa.sls_sales) as product_sales
from silver.crm_sales_details sa
inner join silver.crm_prd_info pa
on sa.sls_prd_key = pa.prd_key
inner join silver.crm_cust_info ca
on sa.sls_cust_id = ca.cst_id
inner join silver.erp_loc_a101 er
on ca.cast_key = er.cid
group by prd_nm
order by product_sales;
"""

# Read data into a pandas DataFrame
product_df = pd.read_sql_query(product_query, engine)
product_df.head()